:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255,255,255);
    --background: rgb(0, 0, 46); 
    --gray: rgb(136, 138, 143);
    --lilac: rgb(96, 50, 208);
}

@font-face {
    font-family: 'RobotoBold';
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'RobotoThin';
    src: url('./fonts/Roboto-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'RobotoMedium';
    background-color: var(--background);
    background-image: url("./assets/background-stars.svg");
    background-size: cover;
    color: white;
}

.header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.301);
}

.site-title {
    font-family: 'RobotoMedium';
    font-size: 1.25rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.header-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.menu-item {
    font-family: 'RobotoMedium';
    font-size: 13px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    list-style: none;
}

.menu-item:hover {
    color: var(--lilac)
}

/* 
Parameters section
*/
.params {
    display: flex;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
}

.params-card {
    padding: 30px 20px;
    border-radius: 2px;
    border: 1px solid var(--gray) ;
    flex-grow: 1;
    text-transform: uppercase;
}
.params-card-title {
    color: var(--gray);
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 12px;

}
.params-card-desc {
    font-size: 2.5rem;
}

/* 
 Main content left side
*/
.content {
    margin: 12vmin auto;
    width: 80%;
    display: flex;
}
.content > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-image {
    position: relative;;
}
.planet {
    width: 100%;
    max-width: fit-content;
}

.planet-geology {
    position: absolute;
    transform: translate(70%,70%);
    width: 150px;
}