:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255,255,255);
    --background: rgb(0, 0, 46); 
    --gray: rgb(136, 138, 143);
    --lilac: rgb(96, 50, 208);
}

@font-face {
    font-family: 'RobotoBold';
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'RobotoThin';
    src: url('./fonts/Roboto-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'RobotoMedium';
    background-color: var(--background);
    background-image: url("./assets/background-stars.svg");
    background-size: cover;
    color: white;
}

/* Header */

.header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--gray);
}

.site-title {
    font-family: 'RobotoMedium';
    font-size: 1.25rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

svg {
    display: none;
}

.mobile-btn {
    display: none;
}

.header-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.menu-item {
    font-family: 'RobotoMedium';
    font-size: 13px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    list-style: none;
}

.menu-item:hover {
    color: var(--lilac)
}

/* Planet section */

.planet-section {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 8vmin auto;

}

.content-left {
    width: 70%;
}

.content-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Right content */

h2 {
    font-family: 'RobotoMedium';
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.planet-desc {
    font-family: 'RobotoThin';
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

.source-info {
    font-family: 'RobotoThin';
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

a {
    font-family: 'RobotoBold';
    color: var(--white);
}

.img-switch {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'RobotoBold';
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
    color: var(--white);
}

.active-btn, .regular-btn {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    gap: 25px;
    height: 50px;
    border: 0.5px solid var(--gray);
}

.active-btn {
    background-color: var(--lilac);
    border: none;
}

.number {
    color: var(--gray);
}



/* 
Parameters section
*/
.params {
    display: flex;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
}

.params-card {
    padding: 30px 20px;
    border-radius: 2px;
    border: 1px solid var(--gray) ;
    flex-grow: 1;
    text-transform: uppercase;
}
.params-card-title {
    color: var(--gray);
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 12px;

}
.params-card-desc {
    font-size: 2.5rem;
}

/* 
 Main content left side
*/
.planet-section {
    margin: 8vmin auto;
    width: 80%;
    display: flex;
}

.content-left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.content-right {
    width: 50%;
}


.planet {
    width: 100%;
    max-width: fit-content;
}

.planet-geology {
    position: absolute;
    transform: translate(70%,70%);
    width: 150px;
}

@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 35px;
    }
    .planet-section {
        flex-direction: column;
    }

    .content-left {
        width: initial;
    }

    .content-right {
        width: initial;
        flex-direction: row;   
    }
}

@media (max-width: 992px) {
    .header {
        flex-direction: row;
    }

    svg {
        display: block;
    }

    .mobile-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid var(--gray);
    }

    .menu-item, .number, .img-switch {
        display: none;
    }

    .active-btn, .regular-btn {
        position: relative;
        top: 1px;
        background-color: var(--background);
        border: none;
        padding: 35px 0;
        font-family: 'RobotoBold';
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.25em;
    }

    .active-btn {
        border-bottom: 2px solid var(--lilac);
    }

    .planet-section {
        margin: 0px auto 50px auto;

    }

    .content-left {
        width: 50%;
        margin: 50px 0;

    } 

    .planet-desc {
       margin: 15px auto; 
    }

    .planet-info {
        text-align: center;
    }

    .params {
        flex-direction: column;
    }

    .params-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }

    .params-card-desc {
        font-size: 1.5rem;
    }

    .params-card-title {
        margin: 0;
    }

    .planet {
        width: 250px;
    }

}